<div class="container pt-4">
  <div class="row pt-2">
    <div class="col-">
      <div class="card">
        <% if product.image.attached? %>
          <%= image_tag product.image, class: "card-img-top" %>
        <% end %>

        <div class="card-body">
          

          <strong>Product category:</strong>
          <%= product.product_category_id %></td>

          <strong>Product Category Name:</strong>
          <%= product.product_category&.name || "N/A" %></td>

          <strong>Name:</strong>
          <%= product.name %></td>

          <strong>Description:</strong>
          <%= product.description %></td>

          <strong>Price:</strong>
          <%= product.price %></td>
        </div>
      </div>
    </div>
  </div>
</div>



